<div class="row">
    <div class="col-md-8 col-xl-6 mx-auto">

        <form [formGroup]="viviendaForm" (ngSubmit)="onSubmitClick()">
  
      
        <div class="card mt-1">
            <div class="card-header">
              <h4>Contrato de Alquiler de Vivienda</h4>
            </div>   
            
            <label for="" class="col-md-4 col-form-label"><b>Datos del Inquilino:</b></label>

            <table>
                <tr  *ngFor="let field of fields">                        
                        <div class="form-group form-row">            
                            <div class="col-md-8">                        
                                <label for="{{field.id}}" class="col-md-4 col-form-label">{{field.nombre}}:</label>
                                <input type="text" name="{{field.id}}" id="{{field.id}}" placeholder="{{field.nombre}}" class="form-control" formControlName="{{field.id}}">                                             
                            </div>
                        </div>                   
                  </tr>
              </table>

              <label for="" class="col-md-4 col-form-label"><b>Datos del Propietario:</b></label>

              
            <table>
                <tr  *ngFor="let field of ownerFields">                        
                        <div class="form-group form-row">            
                            <div class="col-md-8">                        
                                <label for="{{field.id}}" class="col-md-4 col-form-label">{{field.nombre}}:</label>
                                <input type="text" name="{{field.id}}" id="{{field.id}}" placeholder="{{field.nombre}}" class="form-control" formControlName="{{field.id}}">                                             
                            </div>
                        </div>                   
                  </tr>
              </table>
            
               
    
            <div class="card-footer">
              <button class="btn btn-success float-right" (click)="download()">Generar archivo .doc</button>                            
            </div>
    
          </div>
  
        </form>
    </div>
  </div>


