<div>
    <h1>Documentos legales a un click de distancia</h1>
    <h5>La forma más sencilla de tener el documento que buscabas</h5> 
</div>

<nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Inicio</li>
    </ol>
  </nav>
  
  <h5>Dra. Tamara Carrizo</h5>
  <div class="row">
    <div class="col-lg-7 pb-3" style="background-color: #e9e6e6">
      <div class="row">
        <div
          class="col-11 text-white text-center mx-auto rounded pt-2 pb-2 font-weight-bold"
          style="
            background-color: #a39e9e;
            font-family: 'Arial Narrow Bold', sans-serif;"
        >
          {{ Designation }}
        </div>       
       
        <div class="col-12 text-center pt-2 pb-2" style="font-family: Arial">
            <a class="nav-link" style="color:black" routerLink="/contracts"><b>LISTADO DE DOCUMENTOS (click para acceder)</b></a>
        </div>
        <div class="col-11 mb-3">
          <ul class="list-group ml-5">
            <li
              class="list-group-item d-flex justify-content-between align-items-center">
              
               <a class="nav-link" routerLink="/vivienda">CONTRATO DE ALQUILER PARA VIVIENDA</a>
               <img src="../assets/house.png" style="width: 30px; height: 30px;"><span
                        class="badge badge-secondary badge-pill"
                        style="font-size: 13px"
                        >{{ InfoAlquileres }}</span
                      >
            </li>
            <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
          <a class="nav-link" routerLink="/automotor">CONTRATO DE COMPRAVENTA DE AUTOMOTOR</a>                            
            <img src="../assets/car.png" style="width: 30px; height: 30px;">     
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 13px"
              >{{ InfoAutos }}</span
            >
          </li>
          <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
        <a class="nav-link" routerLink="/automotor">CONTRATO DE COMPRAVENTA DE AUTOMOTOR</a>                            
          <img src="../assets/car.png" style="width: 30px; height: 30px;">     
          <span
            class="badge badge-secondary badge-pill"
            style="font-size: 13px"
            >{{ InfoAutos }}</span
          >
        </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
          <a class="nav-link" routerLink="/automotor">CONTRATO DE COMPRAVENTA DE AUTOMOTOR</a>                            
            <img src="../assets/car.png" style="width: 30px; height: 30px;">     
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 13px"
              >{{ InfoAutos }}</span
            >
          </li>
          </ul>
        </div>
        <div
          class="col-11 text-center pt-2 pb-2"
          style="font-family: 'Arial Narrow'"
        >
          <b>NUESTROS CLIENTES</b>
        </div>
        <div class="col-10 ml-5">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Banco Galicia</li>
            <li class="list-group-item">BrewHouse La Plata</li>
            <li class="list-group-item">Pirulito SA</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="row">        
        <div
          class="col-11 mx-auto mt-0 text-white text-center pt-2 pb-2 mx-auto rounded font-weight-bold"
          style="background-color: #718d97; font-family: 'Arial Narrow'"
        >
        ¿CÓMO FUNCIONA?
        </div>
        <div class="col-12">
          <table class="table table-borderless">
            <tr>
              <td><b>1-Elegí el documento en el listado a la izquierda</b></td>  
              <td><img src="../assets/lupita.png" style="width: 30px; height: 30px;"></td>               
            </tr>
            <tr>
              <td><b>2-Completá el formulario en pocos pasos</b></td>
              <td><img src="../assets/documento.png" style="width: 30px; height: 30px;"></td>            
            <tr>
              <td><b>3-Pagás y en 24 hs lo tenés - Así de fácil</b></td>
              <td><img src="../assets/paquete.png" style="width: 30px; height: 30px;"></td> 
            </tr>
          </table>
        </div>
        <div
          class="col-11 mx-auto mt-1 text-white text-center pt-2 pb-2 mx-2 rounded font-weight-bold"
          style="background-color: #718d97; font-family: 'Arial Narrow'"
        >
        ¿POR QUÉ ELEGIRNOS?
        </div>
        <div class="col-12">
            <table class="table">
                <thead>                  
                    <th><b>-SERIEDAD</b></th>
                    <th><b>-SOLVENCIA</b></th>
                    <th><b>-EXPERIENCIA</b></th>
                    <th><b>-EFECTIVIDAD</b></th>                   
                </thead>
            </table>
        </div>
      </div>
      
    </div>
   
</div>

<div
class="col-13 mx-auto mt-0 text-white text-center pt-2 pb-2 pl-4 pr-4 mx-auto rounded font-weight-bold"
style="background-color: #718d97; font-family: 'Arial Narrow'"
>
ACERCA DE NOSOTROS
<table class="table table-borderless">
  <tr>
    <td><b>Asesoramos a Empresas desde hace 20 años. Contamos con un equipo interdisciplinario, preparado para abordar cualquier temática del derecho contractual. </b></td>                  
  </tr>  
</table>
</div>
